@font-face{font-family:'Poppins';src:url(../fonts/Poppins-Regular.eot);src:url(../fonts/Poppins-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Poppins-Regular.woff2) format("woff2"),url(../fonts/Poppins-Regular.woff) format("woff"),url(../fonts/Poppins-Regular.ttf) format("truetype"),url(../fonts/Poppins-Regular.svg#Poppins-Regular) format("svg");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Poppins';src:url(../fonts/Poppins-Bold.eot);src:url(../fonts/Poppins-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Poppins-Bold.woff2) format("woff2"),url(../fonts/Poppins-Bold.woff) format("woff"),url(../fonts/Poppins-Bold.ttf) format("truetype"),url(../fonts/Poppins-Bold.svg#Poppins-Bold) format("svg");font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:'Poppins';src:url(../fonts/Poppins-Medium.eot);src:url(../fonts/Poppins-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/Poppins-Medium.woff2) format("woff2"),url(../fonts/Poppins-Medium.woff) format("woff"),url(../fonts/Poppins-Medium.ttf) format("truetype"),url(../fonts/Poppins-Medium.svg#Poppins-Medium) format("svg");font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:'Poppins';src:url(../fonts/Poppins-SemiBold.eot);src:url(../fonts/Poppins-SemiBold.eot?#iefix) format("embedded-opentype"),url(../fonts/Poppins-SemiBold.woff2) format("woff2"),url(../fonts/Poppins-SemiBold.woff) format("woff"),url(../fonts/Poppins-SemiBold.ttf) format("truetype"),url(../fonts/Poppins-SemiBold.svg#Poppins-SemiBold) format("svg");font-weight:600;font-style:normal;font-display:swap}
@font-face{font-family:'Rubik';src:url(../fonts/Rubik-Regular.eot);src:url(../fonts/Rubik-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Rubik-Regular.woff2) format("woff2"),url(../fonts/Rubik-Regular.woff) format("woff"),url(../fonts/Rubik-Regular.ttf) format("truetype"),url(../fonts/Rubik-Regular.svg#Rubik-Regular) format("svg");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Rubik';src:url(../fonts/Rubik-SemiBold.eot);src:url(../fonts/Rubik-SemiBold.eot?#iefix) format("embedded-opentype"),url(../fonts/Rubik-SemiBold.woff2) format("woff2"),url(../fonts/Rubik-SemiBold.woff) format("woff"),url(../fonts/Rubik-SemiBold.ttf) format("truetype"),url(../fonts/Rubik-SemiBold.svg#Rubik-SemiBold) format("svg");font-weight:600;font-style:normal;font-display:swap}
@font-face{font-family:'Rubik';src:url(../fonts/Rubik-Bold.eot);src:url(../fonts/Rubik-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Rubik-Bold.woff2) format("woff2"),url(../fonts/Rubik-Bold.woff) format("woff"),url(../fonts/Rubik-Bold.ttf) format("truetype"),url(../fonts/Rubik-Bold.svg#Rubik-Bold) format("svg");font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:'Rubik';src:url(../fonts/Rubik-Medium.eot);src:url(../fonts/Rubik-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/Rubik-Medium.woff2) format("woff2"),url(../fonts/Rubik-Medium.woff) format("woff"),url(../fonts/Rubik-Medium.ttf) format("truetype"),url(../fonts/Rubik-Medium.svg#Rubik-Medium) format("svg");font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:'Rubik';src:url(../fonts/Rubik-Black.eot);src:url(../fonts/Rubik-Black.eot?#iefix) format("embedded-opentype"),url(../fonts/Rubik-Black.woff2) format("woff2"),url(../fonts/Rubik-Black.woff) format("woff"),url(../fonts/Rubik-Black.ttf) format("truetype"),url(../fonts/Rubik-Black.svg#Rubik-Black) format("svg");font-weight:900;font-style:normal;font-display:swap}
.container{max-width:1500px;margin:0 auto;padding:0 15px}
body {overflow-x: hidden;}
a{text-decoration:none}
ul{margin:0;padding:0}
ul li{list-style-type:none}
img{max-width:100%;height:auto}
a , .btn , a:hover , .btn:hover{transition: 0.3s all ease-in-out;}
div{box-sizing:border-box}
body{background-color:#13131c;margin:0;box-sizing:border-box}
.header_main{position:absolute;left:0;right:0;margin:0 auto;z-index:2}
.header_flex{display:flex;align-items:center;justify-content:center}
.header_menu{border:1px solid #4f5152}
.header_menu1{border-radius:50px;border-bottom-right-radius:0;border-top-right-radius:0;border-right:0}
.header_menu2{border-radius:50px;border-bottom-left-radius:0;border-top-left-radius:0;border-left:0}
.header_menu ul{display:flex;align-items:center;min-height:70px}
.header_menu ul li{margin:0 32px}
.header_menu2 ul li:last-child{margin-right:5px}
.header_menu ul li a{font-size:17px;color:#fff;font-family:'Poppins';font-weight:500}
.header_menu ul li .btn{font-size:17px;color:#252125;font-family:'Poppins';font-weight:700;display:flex;align-items:center;background-image:linear-gradient(to right,#05f6ea,#20f1da,#33ebc9,#43e6b9,#51e0a8);border-radius:50px;padding:5px 34px}
.header_menu ul li .btn img{margin-right:12px}
.header_logo{padding:10px}
.header_inner{position:relative}
.social_menu{position:absolute;top:8px;right:5px}
.social_menu ul{display:flex;align-items:center}
.social_menu ul li{margin-left:23px}
.social_menu ul li:first-child{margin-left:0}
.home_banner{position:relative}
.banner_icon{position: absolute;bottom: 0;}
.banner_icon1{bottom: 26%;left: 3%;}
.banner_icon2{    bottom: 39%;right: 1%;}
.banner_icon3{bottom: 16%;left: 62%;}
.home_banner_position{position:absolute;top:14%;left:0;right:0;max-width:1500px;margin:0 auto;padding:0 15px}
.home_banner_text h4{font-size:28px;margin:0;color:#fff;font-family:'Poppins';font-weight:500;text-align:center;text-transform:uppercase}
.home_banner_text h3{font-size:90px;margin:0;text-align:center;color:#fff;font-family:'Rubik';font-weight:700}
.home_banner_text h3 em{-webkit-text-stroke:1px #fff;color:transparent;font-style:normal;font-weight:900}
.home_banner_text h3 span{color:#00fff2;font-weight:900}
.home_banner_text p{font-size:21px;max-width:950px;margin:0 auto;color:#fff;font-family:'Poppins';font-weight:400;text-align:center}
.home_banner_text .btn{font-size:17px;background-image:linear-gradient(to right,#a7d451,#bcc332,#ceb017,#de9c08,#ec8515);border-radius:50px;padding:22px 44px;color:#fff;font-family:'Poppins';font-weight:700;display: inline-block;}
.btn_flex{display:flex;align-items:center;justify-content:center;margin-top:30px}
.home_banner_text .btn2{padding: 20px 44px;background-image:none;background-color:transparent;border:2px solid #fff}
.home_banner_text .btn img{margin-right:12px;    vertical-align: middle;}
.btn_flex_inner{margin:0 6px}
.home_banner_text .btn:hover{background-image:linear-gradient(to right,#05f6ea,#20f1da,#33ebc9,#43e6b9,#51e0a8)}
.home_banner_text .btn2:hover{background-image:linear-gradient(to right,#05f6ea,#20f1da,#33ebc9,#43e6b9,#51e0a8);border:2px solid transparent}
.scroll_down{position:absolute;bottom:14%;left:0;right:0;margin:0 auto;text-align:center}
.scroll_down h6{font-size:17px;color:#fff;margin:0;font-family:'Poppins';font-weight:500;    display: inline-flex;cursor:pointer;justify-content:center;align-items:center;transform:rotate(90deg)}
.scroll_down h6 img{margin-left:20px}
.scroll_down h6 a{color:#fff;display:flex;align-items:center}
.home_as_seen{ margin-top: 10px;}
.home_as_seen_max{max-width:1200px;margin:0 auto}
.home_as_seen_box{border:2px solid #5c676c;border-radius:6px;text-align:center;padding-bottom:50px;position: relative;}
.home_as_seen_box h3{text-align:center;color:#fff;margin:-32px 0 0;padding:0 25px;font-size:50px;font-family:'Rubik';font-weight:700;background:#13131c;display:inline-block}
.home_as_seen_box h3 em{-webkit-text-stroke:1px #fff;color:transparent;font-style:normal;font-weight:900}
.as_seen_logo{display:flex;flex-wrap:wrap}
.as_seen_inner{width:25%;margin-top:50px}
.as_seen_img{text-align:center;padding:0 15px}
.home_what{padding:10px 0 200px;    background-repeat: no-repeat;background-size: cover;}
.home_welcome{text-align:center;padding-bottom:100px}
.home_welcome h3{font-size:25px;background-image:linear-gradient(to right,#a7d451,#bcc332,#ceb017,#de9c08,#ec8515);text-align:center;margin:0 0 10px;font-family:'Poppins';font-weight:500;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.home_welcome p{font-size:20px;color:#fff;margin:0;font-family:'Poppins';font-weight:400;text-align:center}
.home_welcome .btn{font-size:17px;background-color:transparent;border-radius:50px;padding:22px 44px;color:#fff;font-family:'Poppins';font-weight:700;display:flex;align-items: center;justify-content: center;border:2px solid #fff;width: 235px;margin: 20px auto 0;}
.home_welcome .btn:hover{    background-image: linear-gradient(to right,#05f6ea,#20f1da,#33ebc9,#43e6b9,#51e0a8);    border: 2px solid transparent;}
.home_welcome .btn img{margin-left:20px}
.what_flex{display:flex;flex-wrap:wrap;margin:0 -15px}
.what_inner{width:50%;padding:0 15px}
.what_inner_text h3{font-size:70px;color:#fff;margin:80px 0 40px;font-family:'Rubik';font-weight:700}
.what_inner_text h3 em{-webkit-text-stroke:1px #fff;color:transparent;font-style:normal;font-weight:900}
.what_inner_text p{font-size:17px;margin:0 0 35px;padding-left:40px;position:relative;color:#fff;font-family:'Poppins';font-weight:400}
.what_inner_text p:before{content:'';position:absolute;left:0;top:0;width:10px;height:100%;border-radius:50px;background-image:linear-gradient(to bottom,#17e5d6,#17e5d6,#17e5d6,#de9c08,#ec8515)}
.what_inner_text h4{font-size:20px;color:#fff;margin:0;padding:30px 0;border-top:3px solid #bdbec0;font-family:'Poppins';font-weight:500}
.what_inner_text .btn{font-size:17px;background-image:linear-gradient(to right,#a7d451,#bcc332,#ceb017,#de9c08,#ec8515);border-radius:50px;padding:22px 44px;color:#fff;font-family:'Poppins';font-weight:700;display:flex;align-items: center;justify-content: center;    width: 210px;}
.what_inner_text .btn img{margin-right:10px}
.what_inner_text .btn:hover{background-image:linear-gradient(to right,#05f6ea,#20f1da,#33ebc9,#43e6b9,#51e0a8)}
.home_bored_bunny{font-size:0;}
.home_bored_bunny_max{max-width:2000px;margin:0 auto;position:relative}
.home_bored_bunny_flex{display:flex}
.home_bored_bunny_inner{width:25%}
.home_bored_text{position:absolute;bottom:0;left:0;right:0;margin:0 auto;text-align:center}
.home_bored_text h3{font-size:200px;color:#fff;margin:0;text-align:center;font-family:'Rubik';font-weight:900}
.home_benifits{padding:135px 0;background-repeat:no-repeat;background-size:cover}
.home_benifits_heading h3{font-size:70px;color:#fff;margin:0 0 10px;font-family:'Rubik';font-weight:700;text-align:center}
.home_benifits_heading h3 em{-webkit-text-stroke:1px #fff;color:transparent;font-style:normal;font-weight:900}
.home_benifits_heading p{font-size:17px;margin:0 0 35px;color:#fff;font-family:'Poppins';font-weight:400;text-align:center}
.home_benifits_img{position:relative;text-align:center}
.benifits_position{position:absolute}
.benifits_position1{top:3%;left:0;max-width:441px}
.benifits_position2{top:45%;left:0;max-width:441px}
.benifits_position3{bottom:8%;left:10%;max-width:441px}
.benifits_position4{top:8%;right:0;max-width:441px}
.benifits_position5{bottom:40%;right:0%;max-width:441px}
.benifits_position_box h3{font-size:30px;color:#fff;text-align:left;margin:0 0 0 14px;font-family:'Rubik';font-weight:500}
.benifits_position p{font-size:15px;margin:15px 0 0;color:#fff;text-align:left;font-family:'Poppins';font-weight:400}
.benifits_position_box{display:flex;align-items:center}
.arrow_position{position:absolute}
.arrow_position1{top:9%;left:30%}
.arrow_position2{top:44%;left:22%}
.arrow_position3{bottom:22%;left:13%}
.arrow_position4{top:17%;right:31%}
.arrow_position5{bottom:47%;right:26%}
.home_road_map{padding:115px 0 468px;background-repeat:no-repeat;background-size:cover;position:relative}
.home_road_map_heading h3{font-size:70px;color:#fff;margin:0 0 10px;font-family:'Rubik';font-weight:700;text-align:center}
.home_road_map_heading h3 em{-webkit-text-stroke:1px #fff;color:transparent;font-style:normal;font-weight:900}
.home_road_map_heading p{font-size:17px;margin:0 0 35px;color:#fff;font-family:'Poppins';font-weight:400;text-align:center}
.home_road_map_flex{display:flex;justify-content:center}
.home_road_map_text h3{font-size:25px;margin:0 0 12px;color:#fff;font-family:'Rubik';font-weight:700}
.home_road_map_text p{font-size:15px;margin:0;color:#fff;font-family:'Poppins';font-weight:400}
.home_road_map_text{max-width:440px}
.home_road_map_box1{text-align:right;margin-top:130px}
.home_road_map_box2{text-align:right;margin-top:355px}
.home_road_map_box3{text-align:right;margin-top:305px}
.home_road_map_box4{text-align:left;margin-top:365px}
.home_road_map_box5{text-align:left;margin-top:285px}
.road_position{right:0;bottom:0;position:absolute}
.to_be_announced h5{text-align:center;font-size:40px;background-image:linear-gradient(to right,#a7d451,#bcc332,#ceb017,#de9c08,#ec8515);text-align:center;margin:60px 0 10px;font-family:'Rubik';font-weight:700;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.road_position_one{left:9%;top:8%;position:absolute}
.road_position_two{left:5%;bottom:15%;position:absolute}
.road_position_three{right:10%;top:6%;position:absolute}
.home_community{padding:250px 0 125px;background-repeat:no-repeat;background-size:cover;margin-top:-158px;z-index:1;position:relative}
.home_community_flex{display:flex;flex-wrap:wrap;margin:0 -15px;align-items:center}
.home_community_inner{width:50%;padding:0 15px}
.home_community_text p{font-size:29px;margin:0 0 45px;    max-width: 588px;color:#fff;font-family:'Rubik';font-weight:500}
.community_flex{display:flex;margin:0 -10px}
.community_inner{padding:0 10px}
.community_inner .btn{font-size:17px;background-image:linear-gradient(to right,#a7d451,#bcc332,#ceb017,#de9c08,#ec8515);border-radius:50px;padding:22px 44px;color:#fff;font-family:'Poppins';font-weight:700;display:flex;align-items: center;justify-content: center;}
.community_inner .btn img{margin-right:10px}
.community_inner .btn2{padding:20px 44px;border:2px solid #ccebff;background:transparent;color:#09f;}
.community_inner .btn:hover{background-image:linear-gradient(to right,#05f6ea,#20f1da,#33ebc9,#43e6b9,#51e0a8);}
.community_inner .btn2:hover{    background-image: none;border: 2px solid transparent;background-color: #000;}
.home_meet_team{position:relative;padding-bottom:90px;background-repeat: no-repeat;background-size: cover;}
.home_meet_team_container{margin:0 auto;max-width:2000px;padding:130px 0 0}
.home_meet_team_img{margin:0 8px}
.home_meet_team_slider{margin-top:80px}
.home_meet_team_slider .slick-prev{left:40px;background-image:url(../images/arrow_left.png);background-repeat:no-repeat;background-size:94px;width:94px;height:29px;z-index:99}
.home_meet_team_slider .slick-next{right:40px;background-image:url(../images/arrow_right.png);background-repeat:no-repeat;background-size:94px;width:94px;height:29px}
.home_meet_team_slider .slick-prev:before,.home_meet_team_slider .slick-next:before{content:""}

.home_meet_team_slider .slick-dots{position:absolute;width:100%;bottom:-25px;}
.home_meet_team_slider .slick-dots li{height:3px;width:25px}
.home_meet_team_slider .slick-dots li button:before,.home_meet_team_slider .slick-dots li a:before{width:20px;height:3px;background:#35354f;border-radius:0;font-size:0;line-height:3px;opacity:1}
.home_meet_team_slider .slick-dots li button,.home_meet_team_slider .slick-dots li a{height:3px;width:20px}
.home_meet_team_slider .slick-dots li.slick-active button:before{background-image: linear-gradient(to right, #ceb037, #a9c453, #80d47e, #50e0ae, #0ee8de);opacity:1}

.home_meet_team_text h3{font-size:25px;color:#fff;text-align:center;font-family:'Rubik';font-weight:500;margin:25px 0 5px}
.home_meet_team_text h4{font-size:14px;color:#fff;text-align:center;font-family:'Poppins';font-weight:500;margin:0}
.home_faq{margin:90px 0 0}
.home_faq_max{padding:140px 140px 300px;    background-repeat: no-repeat;background-size: cover;    position: relative;z-index: 1;}
.home_faq_flex{display:grid;grid-template-columns:1fr 1fr;grid-gap:30px;margin-top:70px;padding-bottom:56px}
.accordion{cursor: pointer; border:1px solid #37373e;border-radius:50px;background:#1f1f26;    padding: 25px 80px 25px 44px;font-size:18px;margin:0;color:#fff;font-family:'Poppins';font-weight:500;position: relative;}
.faq_1 .accordion:after{content:'';position:absolute;     background-repeat: no-repeat;   top: 50%;transform: translateY(-50%);right:6px;background-image:url(../images/plus_icon.png);width:65px;height:65px}
.faq_1.acc-active .accordion:after{content:"";background-image:url(../images/minus_icon.png);}
.accordian-para{padding:15px 20px;display:none}
.accordian-para p{font-size:15px;margin:0;color:#fff;font-family:'Poppins';font-weight:400}
.faq_1{position:relative}
.view_all{text-align:center}
.view_all .btn img{margin-left:12px}
.view_all .btn{font-size:17px;background-color:transparent;border-radius:50px;padding:22px 44px;color:#fff;font-family:'Poppins';font-weight:700;display:flex;align-items: center;justify-content: center;border:2px solid #fff;width: 290px;margin:0 auto;}
.view_all .btn:hover{background-image: linear-gradient(to right,#05f6ea,#20f1da,#33ebc9,#43e6b9,#51e0a8);border: 2px solid transparent;}
.footer_div{position:relative;margin-top:-400px}
.footer_position{position:absolute;top:60%;left:0;right:0;max-width:1500px;margin:0 auto;padding:0 15px}
.footer_position_flex{display:flex;flex-wrap:wrap}
.footer_position_inner{width:40%;padding-bottom:60px;position:relative}
.footer_position_inner:first-child{    display: flex; justify-content: center;}
.footer_position_inner_left{padding:0 15px;}
.footer_position_inner:nth-child(2){width:20%}
.footer_position_inner:nth-child(2):before{content:'';position:absolute;border-left:1px solid #414954;width:1px;height:100%;left:0;top:0}
.footer_position_inner:nth-child(2):after{content:'';position:absolute;border-right:1px solid #414954;width:1px;height:100%;right:0;top:0}
.footer_position_inner:nth-child(3){display:flex;justify-content:center}
.footer_position_inner h3{font-size:55px;color:#fff;margin:0 0 10px;font-family:'Rubik';font-weight:700;text-align:left}
.footer_position_inner h3 em{-webkit-text-stroke:1px #fff;color:transparent;font-style:normal;font-weight:900}
.footer_position_inner p{font-size:18px;margin:0 0 15px;color:#fff;font-family:'Poppins';font-weight:400}
.footer_btn_flex{display:flex;margin:0 -10px}
.footer_btn_inner{padding:0 10px}
.footer_btn_inner .btn{font-size:17px;background-image:linear-gradient(to right,#a7d451,#bcc332,#ceb017,#de9c08,#ec8515);border-radius:50px;padding:22px 44px;color:#fff;font-family:'Poppins';font-weight:700;display: flex;justify-content: center;align-items: center;}
.footer_btn_inner .btn:hover{background-image: linear-gradient(to right,#05f6ea,#20f1da,#33ebc9,#43e6b9,#51e0a8);}
.footer_btn_inner .btn img{margin-right:12px;vertical-align:middle}
.footer_btn_inner .btn2{font-size:17px;background:transparent;border-radius:50px;padding:14px 44px;color:#fff;font-family:'Poppins';font-weight:700;display: flex;justify-content: center;align-items: center;border:2px solid #fff}
.footer_btn_inner .btn2:hover{background-color: #000;border:2px solid #000;background-image: none;}
.footer_position_inner_ticket .btn{font-size:22px;color:#252125;font-family:'Poppins';font-weight:700;display: flex;justify-content: center;align-items: center;background-image:linear-gradient(to right,#05f6ea,#20f1da,#33ebc9,#43e6b9,#51e0a8);border-radius:50px;padding:10px 44px;width: 288px;margin: 0 0;}
.footer_position_inner_ticket .btn img{vertical-align:middle;margin-right:12px}
.footer_position_logo{text-align:center}
.footer_bottom_flex{border-top:1px solid #414954;border-bottom:1px solid #414954}
.footer_bottom_inner h6{margin:0;padding:18px 0;text-align:center;font-size:17px;color:#fff;font-family:'Poppins';font-weight:500}
.footer_bottom_ul ul{display:flex;align-items:center;padding:18px 0;justify-content: center;}
.footer_bottom_ul ul li{color:#fff;font-size:17px;margin:0 10px}
.footer_bottom_ul ul li a{font-size:17px;color:#fff;font-family:'Poppins';font-weight:500}
.footer_bottom_ul ul li:last-child{margin-right:0}
.footer_bottom_flex{display:flex;flex-wrap:wrap;align-items:center}
.footer_bottom_inner{width:40%;position:relative}
.footer_bottom_inner:nth-child(3){width:20%}
.social_bottommenu ul{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;align-items: center;}
.social_bottommenu ul li{text-align:center;padding:18px 0;position: relative;}
.social_bottommenu ul li:before{content:'';position: absolute;top:0;left: 0;width: 1px;height: 100%;background-color: #414954;}
.social_bottommenu ul li:last-child{border-right:1px solid #414954}
.mobile_header{display: none;}    
.visible-xs{display: none;}
.hidden-xs{display: block;}
.home_benifits_img_div {text-align: center;position: relative;}
.benifit_round_img{position: absolute;    bottom: -11%;right: 10%;}
/*.benifit_round_img img{}*/

.text_round_div{position: relative;}
.text_round_div svg {
position: absolute;
fill: #fff;
height: auto;
transform-origin: center;
width: 70%;
left: 15%;
top: 14%;  
font-family: 'Poppins';
font-weight: 700;
animation:spin 10s linear infinite;
}

@keyframes spin {
from {
transform:rotate(0deg);
}
to {
transform:rotate(360deg);
}
}
.mobile_road_map_flex{display: none;}

.what_inner_img{position: relative;}
.round_icon{position: absolute;bottom: 0;}
.round_icon1{bottom: 31%;left: 33%;animation: myOrbit 10s linear infinite;}
.round_icon2{left: 33%;bottom: 29%;animation: myOrbit 12s linear infinite;}
.round_icon3{left:38%;bottom: 34%;animation: myOrbit 14s linear infinite;}

@keyframes myOrbit {
	from { transform: rotate(0deg) translateX(340px) rotate(0deg); }
	to   { transform: rotate(360deg) translateX(340px) rotate(-360deg); }
}

.home_bored_bunny_img img{ transition: 0.3s all ease-in-out;}
.home_bored_bunny_img .hover_show{display:none;transition: 0.3s all ease-in-out;}
.home_bored_bunny_img:hover .hover_hide{display: none; transition: 0.3s all ease-in-out;}
.home_bored_bunny_img:hover .hover_show{display: block; transition: 0.3s all ease-in-out;}

.home_our_special{padding:80px 0;}
.home_our_special_flex{display:flex;flex-wrap: wrap;margin:0 -30px;justify-content: center;}
.home_our_special_inner{width: 33.33%;padding: 0 30px;text-align: center;}
.home_our_special_text h3{font-size: 20px;color: #fff;text-align: center;margin: 15px 0 0;font-family: 'Rubik';font-weight: 500;}

.home_our_special_flex .slick-prev{left:40px;background-image:url(../images/arrow_left.png);background-repeat:no-repeat;background-size:94px;width:94px;height:29px;z-index:99}
.home_our_special_flex .slick-next{right:40px;background-image:url(../images/arrow_right.png);background-repeat:no-repeat;background-size:94px;width:94px;height:29px}
.home_our_special_flex .slick-prev:before,.home_our_special_flex .slick-next:before{content:""}

.home_our_special_flex .slick-dots{position:absolute;width:100%;bottom:-25px;}
.home_our_special_flex .slick-dots li{height:3px;width:25px}
.home_our_special_flex .slick-dots li button:before,.home_our_special_flex .slick-dots li a:before{width:20px;height:3px;background:#35354f;border-radius:0;font-size:0;line-height:3px;opacity:1}
.home_our_special_flex .slick-dots li button,.home_our_special_flex .slick-dots li a{height:3px;width:20px}
.home_our_special_flex .slick-dots li.slick-active button:before{background-image: linear-gradient(to right, #ceb037, #a9c453, #80d47e, #50e0ae, #0ee8de);opacity:1}

@media only screen and (min-width:200px) and (max-width:767px){
.visible-xs{display: block;}
.hidden-xs{display: none;}
.desktop_header{display: none;}
.mobile_header{display: block;    position: absolute;
width: 100%;    top: 12px;
left: 0;
right: 0;
z-index: 2;}    
.mobile_header_flex{display: flex;justify-content: space-between;align-items: center;}
.mobile_header_logo img{max-width: 60px;}
.mobile_header_inner ul {display: flex;align-items: center;}
.mobile_header_inner ul li .btn {  font-size: 10px;
color: #252125;
font-family: 'Poppins';
font-weight: 700;
display: flex;
align-items: center;
background-image: linear-gradient(to right,#05f6ea,#20f1da,#33ebc9,#43e6b9,#51e0a8);
border-radius: 50px;
padding: 5px 20px;}
.mobile_header_inner ul li .btn img{max-width:20px;margin-right:5px;}
.mobile_header_inner ul li:first-child{margin-right: 10px;}
.btn_flex { margin-top: 15px;}

.banner_icon1 {
bottom: 18%;
left: 3%;
max-width: 15%;
}
.banner_icon2 {
bottom: 21%;
right: 0;
max-width: 15%;
}
.banner_icon3 {
bottom: 11%;
left: 62%;
max-width: 20%;
} 

.home_banner_position {

top: 15%;}

.home_banner_text h3 {
font-size: 16px;}
.home_banner_text h4 {
font-size: 10px;}
.home_banner_text p {
font-size: 10px;}
.home_banner_text .btn {    font-size: 10px;
min-width: 80px;
padding: 10px 10px;}
.home_banner_text .btn2 {
padding: 8px 10px;
text-align: center;

}
.scroll_down h6 {
font-size: 12px;}
.home_banner_text .btn img {
max-width: 18px;    margin-right: 5px;
}   

.home_as_seen {
margin-top: 0;
}
.as_seen_inner {
width: 50%;
margin-top: 30px;
}
.home_as_seen_box h3 {

margin: -32px 0 0;
padding: 0 19px;
font-size: 32px;}   

.home_road_map_heading {padding:0 15px; }

.home_as_seen_box {
padding-bottom: 30px;
}
.home_welcome h3 {
font-size: 16px;}
.home_welcome p {
font-size: 12px;
}
.home_welcome .btn {
font-size: 10px;
margin-top: 20px;
padding: 10px 20px;
width:160px;
}
.home_welcome .btn img {
margin-left: 10px;
max-width: 18px;
}  
.what_inner {
width: 100%;
padding: 0 15px;
}

.what_inner_text h3 {
font-size: 20px;margin:20px 0 20px;
text-align: center;
}
.what_inner_img{text-align: center;max-width: 300px;
margin: 0 auto 35px;}
.what_inner_text p {
font-size: 13px;
padding-left: 30px;
}

.what_inner_text h4 {
font-size: 14px;}

.what_inner_text .btn {
font-size: 10px;
padding: 13px 21px;
width: 150px;
}
.what_inner_text .btn img {
margin-right: 10px;
max-width: 18px;
}   
.home_welcome {
text-align: center;
padding-bottom: 30px;
}
.home_bored_text h3 {
font-size: 35px;}
.home_what {
padding: 20px 0;
}
.home_bored_text {
bottom: 0px;padding:0 10px;
}
.home_benifits {
padding: 40px 0;}
.home_benifits_heading h3 {
font-size: 30px;}
.home_benifits_heading p {
font-size: 12px;
margin: 0 0 32px;}
.benifits_position_box {
display: block;
text-align: center;
}
.benifits_position_box h3 {
font-size: 16px;
text-align: center;
margin: 15px 0 0;}
.benifits_position p {
font-size: 13px;
margin: 15px 0 20px;
color: #fff;
text-align: center;}
.benifits_position {
position: relative;
}
.benifits_position1 ,   .benifits_position2 ,   .benifits_position3 ,   .benifits_position4 ,   .benifits_position5{
top: 0;
left: 0;
max-width: 441px;margin:0 auto;
}
.benifits_position_box h3 br{display: none;}
.home_road_map_heading h3 {
font-size: 25px;
}
.home_road_map_heading p {
font-size: 10px;
margin: 0 0 20px;}
.road_position_one {
max-width: 50px;
}
.home_road_map_flex{display: none;}
.road_position_one{display: none;}
.road_position_two{display: none;}
.road_position_three{display: none;}


.home_community_flex {
flex-direction: column-reverse;
} 
.home_community_inner {
width: 100%;
padding: 0 15px;
}
home_community_img img{max-width:300px;margin:0 auto; }
.home_community_text p {
font-size: 18px;
margin: 20px auto 30px;
text-align: center;
}
.home_community_img{text-align: center;}
.home_community_img img{max-width: 260px;margin: 0 auto;}
.community_inner .btn img {
max-width: 18px;
}

.community_flex {
justify-content: center;
}
.community_inner .btn {
font-size: 10px;
padding: 18px 20px;}
.community_inner .btn2 {
font-size: 10px;
padding: 16px 20px;}
.home_benifits {
padding: 60px 0;} 

.home_meet_team_text h4 {
font-size: 8px;}     
.home_meet_team_text h3 {
font-size: 12px;
margin: 15px 0 5px;
}
.home_meet_team_container {
padding: 30px 0 ;
}
.home_meet_team_slider {
margin-top: 10px;
} 

.home_faq {
margin: 40px 0 0;
}
.home_faq_max {
padding: 40px 10px 0;
}
.home_faq_flex {

grid-template-columns: 1fr;
grid-gap: 30px;
margin-top: 30px;
padding-bottom: 30px;
}
.accordion {


padding: 10px 32px 10px 16px;
font-size: 12px;

}  
.faq_1 .accordion:after {
width: 25px;
height: 25px;
background-repeat: no-repeat;
background-size: 25px;
}
.faq_1.acc-active .accordion:after {
} 
.accordian-para p {
font-size: 13px;}
.view_all .btn {
font-size: 10px;
padding: 10px 20px;
width: 170px;
margin: 0 auto;
}
.view_all .btn img {
margin-left: 12px;
max-width: 18px;
}

.footer_position {top:0;
position: relative;padding: 0;}
.footer_position_flex{padding:0 15px;}
.footer_position_inner h3 {
font-size: 18px;
margin: 0 0 10px;

text-align: center;
}
.footer_position_inner h3  br{display: none;}

.footer_position_inner {
width: 100%;
padding-bottom: 0;
position: relative;
}
.footer_position_inner:nth-child(2) {
width: 100%;
}
.footer_position_inner p {
font-size: 13px;
margin: 0 0 15px;
text-align: center;
}
.footer_position_inner p br{display: none;}
.footer_bottom_inner {
width: 100%;
position: relative;
}
.footer_bottom_inner:nth-child(2) {
width: 100%;
position: relative;
}
.footer_btn_flex {
display: flex;
margin: 0 -10px;    justify-content: center;
}
.footer_btn_inner .btn {
font-size: 10px;
padding: 10px 20px;}
.footer_btn_inner .btn {
font-size: 10px;
padding: 10px 20px;}
.footer_btn_inner .btn2 {
font-size: 10px;
padding: 8px 20px;}
.footer_btn_inner .btn img {
margin-right: 12px;
vertical-align: middle;
max-width: 18px;
}
.footer_position_inner_ticket .btn img {
vertical-align: middle;
margin-right: 12px;
max-width: 18px;
}
.footer_position_inner_ticket .btn {
font-size: 10px;
padding: 10px 20px;
width: 160px;
margin: 0 auto;
}

.footer_position_inner_right{margin:30px 0;
padding: 30px 0;  border-bottom: 1px solid #414954;
border-top: 1px solid #414954;}
.footer_position_logo img{max-width: 120px;margin:0 auto;} 

.footer_bottom_ul ul li {
color: #fff;
font-size: 8px;
margin: 0 3px;
}
.footer_bottom_ul ul li a {
font-size: 10px;}
.footer_bottom_inner h6 {
margin: 0;
padding: 18px 0 0;
text-align: center;
font-size: 10px;
}
.footer_position_logo {
margin-bottom: 15px;
}
.footer_bottom_ul ul {
padding: 5px 0 20px;
}
.social_bottommenu {
max-width: 220px;
margin: 0 auto;
}
.footer_bottom_inner:first-child{border-bottom: 1px solid #414954;} 

.social_bottommenu ul li a img{max-width: 18px;}   
.social_bottommenu ul li {
padding: 12px 0;
}
.road_position_three {
right: 10%;
top: 6%;
position: absolute;
max-width: 82px;
}
.road_position_two {
left: 5%;
bottom: 20%;
position: absolute;
max-width: 60px;
}
.to_be_announced h5 {
text-align: center;
font-size: 20px;}
.home_road_map_text h3 {
font-size: 14px;}
.home_road_map_text p { font-size: 10px; }
.home_community {
padding: 70px 0 50px;}
.footer_div {
position: relative;
padding-top: 30px;margin-top: 0;
}

.footer_position_inner:nth-child(3) {
display: block;
justify-content: center;
}
.home_meet_team {

padding-bottom: 20px;} 



.mobile_road_map_inner{
display: flex;margin-bottom: 20px;

}
.mobile_road_map_text{margin-left:20px;}


.road_position {
right: 0;
bottom: 0;
position: relative;
max-width: 200px;
margin: 0 auto;
}
.home_road_map {
padding: 40px 0 120px;}    
.mobile_road_map_flex{display: block;}    


.round_icon1{  bottom: 35%;
max-width: 20%;
left: 42%;}
.round_icon2{       left: 40%;
bottom: 35%;
max-width: 20%;}
.round_icon3{  left: 41%;
bottom: 34%;max-width: 20%;}



@keyframes myOrbit {
from { transform: rotate(0deg) translateX(140px) rotate(0deg); }
to   { transform: rotate(360deg) translateX(140px) rotate(-360deg); }
}
.benifit_round_img {
position: absolute;
bottom: -24px;
right: 0;
max-width: 40%;
}
.home_benifits_img_div{position: relative;}  
.home_our_special_flex{margin:0 -15px;}
.home_our_special_inner {
width: 100%;
padding: 0 15px;
}
.home_our_special_inner:first-child{margin:0 0 20px;}
.home_our_special {
padding: 40px 0;
}

.text_round_div svg {
width: 70%;
left: 15%;
top: 15%;}

}
@media only screen and (min-width:500px) and (max-width:767px){
.mobile_road_map_flex{display: none;}
.home_road_map_flex {
display: flex;flex-wrap: wrap;    margin: 0 auto;
max-width: 470px;
justify-content: center;
}
.home_road_map_inner{width:40%;}
.home_road_map_inner:nth-child(2){width:20%;padding:0 5px;}
.home_road_map_box1 {
text-align: right;
margin-top: 47px;
}
.home_road_map_box2 {
text-align: right;
margin-top: 55px;
}
.home_road_map_box3 {
text-align: right;
margin-top: 30px;
}
.home_road_map_box4 {
text-align: left;
margin-top: 130px;
}
.home_road_map_box5 {
text-align: left;
margin-top: 32px;
}
.home_banner_text h4 {
font-size: 14px;
}
.home_banner_text h3 {
font-size: 25px;
}
.home_banner_text p {
font-size: 15px;
max-width: 470px;
}


}
@media only screen and (min-width:768px) and (max-width:991px){
.header_menu ul li {
margin: 0 8px;
}
.header_menu ul li a {
font-size: 10px;}
.header_menu ul li .btn {
font-size: 10px;    padding: 5px 20px;}
.header_logo {
padding: 10px;
max-width: 100px;
}

.banner_icon1 {
bottom: 26%;
left: 3%;
max-width: 13%;
}
.banner_icon2 {
bottom: 35%;
right: 0;
max-width: 10%;
}
.banner_icon3 {
bottom: 16%;
left: 62%;
max-width: 16%;
}

.home_banner_position {
top: 15%;}
.home_banner_text h4 {
font-size: 16px;}
.home_banner_text h3 {
font-size: 40px;}
.home_banner_text p {
font-size: 15px;
max-width: 583px;}
.btn_flex {margin-top: 15px;}
.home_banner_text .btn {
font-size: 14px;
padding: 16px 35px;}
.home_banner_text .btn2 {
padding: 16px 35px;
}

.home_as_seen_max {
max-width: 750px;
margin: 0 auto;
}
.home_as_seen_box h3 {
font-size: 35px;}


.home_welcome h3 {
font-size: 20px;}
.home_welcome p {
font-size: 15px;
}
.footer_position {
max-width: 800px;}
.footer_position_inner h3 {
font-size: 30px;}
.footer_position_inner p {
font-size: 15px;}
.footer_position_inner p br{
display: none;}

.footer_btn_inner .btn {
font-size: 12px;

padding: 16px 20px;

}
.footer_btn_inner .btn img {
max-width: 18px;
}


.footer_btn_inner .btn2 {
font-size: 12px;
padding: 14px 20px;
}
.footer_position_inner_ticket .btn {
font-size: 12px;

padding: 10px 20px;
width: 164px;
margin: 0 0;
}
.footer_position_inner_ticket .btn img {

max-width: 21px;
}
.footer_position_logo img{max-width: 100px;margin:0 auto;}

.footer_bottom_ul ul li {

font-size: 10px;
margin: 0 3px;
}
.footer_bottom_ul ul li a {
font-size: 11px;

}
.social_bottommenu ul li a img{max-width:15px;}
.footer_bottom_inner h6 {

font-size: 11px;}
.home_faq_max {

padding: 60px 30px 150px;
}
.home_road_map_heading p {
font-size: 14px;}
.home_road_map_heading h3 {
font-size: 40px;}
.home_meet_team_container {
padding: 60px 0 0;
}
.home_meet_team_text h3 {
font-size: 16px;}
.home_meet_team_text h4 {
font-size: 11px;}
.accordion {
padding: 20px 50px 20px 20px;
font-size: 14px;}
.faq_1 .accordion:after { 
width: 30px;
height: 30px;
background-size: 30px;
}
.home_meet_team {

padding-bottom: 45px;}
.home_faq {
margin: 10px 0 0;
}
.view_all .btn {
font-size: 14px;

padding: 16px 25px;

width: 200px;

}
.header_menu ul li .btn img {
margin-right: 12px;
max-width: 20px;
}
.header_menu ul {
display: flex;
align-items: center;
min-height: 40px;
}
.social_menu{display: none;}
.what_inner_text h3 {
font-size: 40px;
margin: 40px 0 40px;

font-weight: 700;
}   
.what_inner_text p {
font-size: 13px;}
.what_inner_text h4 {
font-size: 16px;}
.home_bored_text h3 {
font-size: 80px;}

.home_benifits_heading h3 {
font-size: 40px;}
.home_benifits_heading p {
font-size: 14px;}
.benifits_position_box h3 {
font-size: 16px;
}
.benifits_position p {
font-size: 11px;}

.benifits_position1 {
top: 3%;
left: 0;
max-width: 250px;
}
.benifits_position2 {
top: 38%;
left: 0;
max-width: 250px;
}

.benifits_position3 {
bottom: 0;
left: 16%;
max-width: 250px;
}
.benifits_position4 {
top: 8%;
right: 0;
max-width: 250px;
}
.home_benifits_img_div img{max-width:500px;margin: 0 auto;}

.road_position_one {
left: 9%;
top: 8%;
position: absolute;
max-width: 85px;
}
.road_position_two {
left: 5%;
bottom: 14%;
position: absolute;
max-width: 110px;
}
.road_position_three {
right: 10%;
top: 6%;
position: absolute;
max-width: 100px;
}
.home_road_map_text h3 {
font-size: 16px;
}
.home_road_map_text p {
font-size: 13px;}
.home_road_map_box1 {
text-align: right;
margin-top: 95px;
}
.home_road_map_box2 {
text-align: right;
margin-top: 182px;
}
.home_road_map_box3 {
text-align: right;
margin-top: 160px;
}
.home_road_map_box4 {
text-align: left;
margin-top: 224px;
}
.home_road_map_box5 {
text-align: left;
margin-top: 155px;
}
.to_be_announced h5 {
text-align: center;
font-size: 28px;}
.road_position {
right: 0;
bottom: 88px;
position: absolute;
max-width: 300px;
}
.home_community {
padding: 130px 0 125px;}
.home_road_map {
padding: 60px 0 190px;}

.home_community_text p {
font-size: 20px;}
.community_inner .btn {
font-size: 12px;
padding: 16px 14px;}
.community_inner .btn2 {
padding: 13px 25px;}
.benifits_position5 {
bottom: 30%;
right: 0;
max-width: 250px;
}
.footer_position_inner {

padding-bottom: 20px;

}
.home_benifits_img {


max-width: 745px;
margin: 0 auto;
}


.footer_div {
position: relative;
margin-top: -180px;
}

.benifits_position_box img{max-width: 60px;}


.arrow_position1 {
top: 7%;
left: 230px;
max-width: 100px;
}
.arrow_position4 {
top: 17%;
right: 34%;
max-width: 70px;
}
.arrow_position2 {
top: 45%;
left: 25%;
max-width: 95px;
}
.arrow_position5 {
bottom: 47%;
right: 31%;
max-width: 100px;
}
.arrow_position3 {
bottom: 25%;
left: 20%;
max-width: 170px;
}
.home_as_seen {
margin-top: 45px;
}


.round_icon1{  bottom: 35%;
max-width: 20%;
left: 42%;}
.round_icon2{       left: 40%;
bottom: 35%;
max-width: 20%;}
.round_icon3{  left: 41%;
bottom: 34%;max-width: 20%;}



@keyframes myOrbit {
from { transform: rotate(0deg) translateX(170px) rotate(0deg); }
to   { transform: rotate(360deg) translateX(170px) rotate(-360deg); }
}

.home_what {
padding: 10px 0 70px; }

.benifit_round_img {
position: absolute;
bottom: -11%;
right: 10%;
max-width: 25%;
}

.home_our_special_text h3 {font-size: 18px;}
.home_our_special {padding: 60px 0;}

.text_round_div svg {
width: 70%;
left: 15%;
top: 15%;}


}
@media only screen and (min-width:992px) and (max-width:1199px){

.footer_position {
max-width: 1000px;}
.footer_position_inner h3 {
font-size: 40px;}

.footer_position_logo img{max-width:120px;margin:0 auto;}

.footer_btn_inner .btn {
font-size: 14px;

padding: 19px 25px;}
.footer_btn_inner .btn2 {
font-size: 14px;
padding: 17px 25px;}

.footer_btn_inner .btn img {
max-width: 24px;
}
.footer_position_inner_ticket .btn {
font-size: 14px;
padding: 10px 20px;
width: 230px;
margin: 0 0;
}

.footer_position_inner_ticket .btn img {
max-width: 28px;
}
.footer_bottom_ul ul li a {
font-size: 14px;}
.footer_bottom_ul ul li {
font-size: 14px;
margin: 0 4px;
}

.footer_bottom_inner h6 {
font-size: 14px;}


.social_bottommenu ul li a img {
max-width: 20px;
}
.home_faq_max {

padding: 80px 40px 200px;
}
.home_road_map_heading h3 {
font-size: 50px;
}
.home_community {
padding: 140px 0 85px;
}
.home_bored_text h3 {
font-size: 90px;}
.what_inner_text h3 {
font-size: 50px;
}
.what_inner_text p {
font-size: 15px;}
.home_banner_text h3 {
font-size: 60px;}
.home_banner_text p {
font-size: 18px;
max-width: 760px;}
.header_menu ul li {
margin: 0 9px;
}
.header_menu ul li a {
font-size: 14px;}
.header_menu ul li .btn {
font-size: 14px;
padding: 5px 29px;
}
.header_menu ul li .btn img {
margin-right: 12px;
max-width: 20px;
}
.header_logo img {
max-width: 125px;
}

.header_menu ul {
min-height: 56px;
} 
.social_menu ul li a img{
max-width: 24px;
}
.banner_icon1 {
bottom: 26%;
left: 3%;
max-width: 13%;
}
.banner_icon2 {
bottom: 35%;
right: 0;
max-width: 10%;
}
.banner_icon3 {
bottom: 16%;
left: 62%;
max-width: 16%;
}
.home_banner_text h4 {
font-size: 22px;}
.home_banner_position {top: 18%;}

.benifits_position1 {
top: 3%;
left: 4%;
max-width: 265px;
}
.benifits_position2 {
top: 45%;
left: 0;
max-width: 265px;
}
.benifits_position3 {
bottom: 0%;
left: 13%;
max-width: 265px;
}
.benifits_position4 {
top: 11%;
right: 41px;
max-width: 265px;
}
.benifits_position5 {
bottom: 37%;
right: 0;
max-width: 250px;
}
.benifits_position_box img{max-width: 70px;}
.benifits_position_box h3 {
font-size: 16px;}

.home_benifits_img_div  img{max-width: 700px;margin:0 auto;}

.arrow_position1 {
top: 8%;
left: 30%;
max-width: 130px;
}
.arrow_position2 {
top: 44%;
left: 22%;
max-width: 165px;
}

.arrow_position3 {
bottom: 24%;
left: 18%;
max-width: 250px;
}
.arrow_position4 {
top: 19%;
right: 33%;
max-width: 87px;
}
.arrow_position5 {
bottom: 46%;
right: 26%;
max-width: 180px;
}
.road_position_one {
max-width: 170px;
}
.road_position_three {
max-width: 180px;
}
.road_position_two {

max-width: 250px;
}
.home_road_map_text h3 {
font-size: 20px;}
.home_road_map_text p {
font-size: 14px;}
.home_road_map_box2 {
text-align: right;
margin-top: 273px;
}
.home_road_map_box4 {
text-align: left;
margin-top: 295px;
}
.home_road_map_box5 {
text-align: left;
margin-top: 240px;
}
.home_road_map_box3 {
text-align: right;
margin-top: 238px;
}
.road_position {
right: 0;
bottom: 73px;
position: absolute;
max-width: 400px;
}
.footer_position_inner p {
font-size: 13px;}
.accordion {
padding: 25px 55px 25px 35px;
font-size: 16px;}  
.faq_1 .accordion:after {
width: 45px;
height: 45px;
background-size: 45px;
}
.home_meet_team_text h3 {
font-size: 20px;}
.community_inner .btn img {
margin-right: 10px;
max-width: 24px;
}
.community_inner .btn {
font-size: 14px;

padding: 19px 30px;}


.community_inner .btn2 {
padding: 17px 30px;}
.home_community_text p {
font-size: 25px;
}
.to_be_announced h5 {
text-align: center;
font-size: 30px;}
.benifits_position p {
font-size: 12px;}

.home_benifits_heading h3 {
font-size: 50px;}


.footer_div {
position: relative;
margin-top: -200px;
}

.home_benifits_img {

max-width: 970px;
margin: 0 auto;
}
.home_road_map_flex {
display: flex;
justify-content: center;
max-width: 960px;
margin: 0 auto;
}


.round_icon1{  bottom: 35%;
max-width: 20%;
left: 42%;}
.round_icon2{       left: 40%;
bottom: 35%;
max-width: 20%;}
.round_icon3{  left: 41%;
bottom: 34%;max-width: 20%;}



@keyframes myOrbit {
from { transform: rotate(0deg) translateX(220px) rotate(0deg); }
to   { transform: rotate(360deg) translateX(220px) rotate(-360deg); }
}
.home_what {
padding: 10px 0 70px;}

.benifit_round_img {
position: absolute;
bottom: -11%;
right: 10%;
max-width: 25%;
}
}
@media only screen and (min-width:1200px) and (max-width:1367px){
.container{max-width: 1170px;margin: 0 auto;}
.header_menu ul li {
margin: 0 17px;
}
.header_menu ul li a {
font-size: 14px;}
.header_menu ul li .btn {
font-size: 14px;padding: 5px 29px;}
.home_banner_text h3 {
font-size: 70px;}
.banner_icon1 {
bottom: 26%;
left: 3%;
max-width: 13%;
}
.banner_icon2 {
bottom: 35%;
right: 0;
max-width: 10%;
}
.banner_icon3 {
bottom: 16%;
left: 62%;
max-width: 16%;
}
.home_banner_position {top: 20%;}
.what_inner_text h3 {
font-size: 60px;}   

.what_inner_text h4 {
font-size: 18px;}
.road_position_one {
left: 9%;
top: 8%;
position: absolute;
max-width: 200px;
}

.road_position_two {
left: 5%;
bottom: 20%;
position: absolute;
max-width: 280px;
}
.road_position_three {
right: 10%;
top: 6%;
position: absolute;
max-width: 200px;
}
.home_road_map_box4 {
text-align: left;
margin-top: 280px;
}
.home_road_map_text h3 {
font-size: 20px;
}
.home_road_map_text p {
font-size: 12px;
}
.home_road_map_flex {
max-width: 900px;
margin: 0 auto;
}
.home_road_map_box1 {
text-align: right;
margin-top: 110px;
}
.home_road_map_box2 {
text-align: right;
margin-top: 280px;
}
.home_road_map_box3 {
text-align: right;
margin-top: 240px;
}
.home_road_map_box5 {
text-align: left;
margin-top: 250px;
}
.footer_bottom_ul ul li a {
font-size: 15px;
}
.home_bored_text h3 {
font-size: 120px;}
.footer_position_inner h3 {
font-size: 45px;
}
.to_be_announced h5 {
text-align: center;
font-size: 30px;}
.road_position {
max-width: 600px;
}
.home_road_map_heading h3 {
font-size: 55px;}
.home_faq_max {
padding: 80px 80px 310px;
}
.accordion {
padding: 25px 55px 25px 25px;
font-size: 18px;}
.faq_1 .accordion:after {
width: 50px;
height: 50px;
background-size: 50px;
}
.footer_position_inner p {
font-size: 16px;}

.footer_position {
max-width: 1170px;
}

.footer_position_logo img{max-width: 190px;margin: 0 auto;}
.footer_btn_inner .btn2 {
padding: 17px 30px;}
.footer_btn_inner .btn img {
max-width: 35px;
}
.footer_position_inner_ticket .btn {
width: 230px;    font-size: 19px;

}
.benifits_position_box img{max-width: 80px;}  
.benifits_position_box h3 {
font-size: 22px;} 
.benifits_position1 {
top: 3%;
left: 0;
max-width: 350px;
}
.benifits_position2 {
top: 45%;
left: 0;
max-width: 350px;
}    
.benifits_position3 {
bottom: 8%;
left: 10%;
max-width: 350px;
}
.benifits_position4 {
top: 8%;
right: 0;
max-width: 350px    ;
}     
.benifits_position5 {
bottom: 40%;
right: 0%;
max-width: 350px;
}   
.arrow_position1 {
top:9%;
left: 29%;
max-width: 160px;
}
.arrow_position2 {
top: 44%;
left: 22%;
max-width: 180px;
}
.arrow_position3 {
bottom: 26%;
left: 17%;
max-width: 280px;
}
.arrow_position4 {
top: 20%;
right: 32%;
max-width: 95px;
}
.arrow_position5 {
bottom: 48%;
right: 29%;
max-width: 159px;
} 
.home_benifits_heading h3 {
font-size: 60px;} 
.home_benifits_img_div  img{max-width: 900px;}
.home_community {
padding: 200px 0 125px;}
.home_meet_team_text h3 {
font-size: 20px;}

.home_as_seen {
margin-top: 0;
}

.round_icon1{  bottom: 35%;
max-width: 20%;
left: 42%;}
.round_icon2{       left: 40%;
bottom: 35%;
max-width: 20%;}
.round_icon3{  left: 41%;
bottom: 34%;max-width: 20%;}



@keyframes myOrbit {
from { transform: rotate(0deg) translateX(250px) rotate(0deg); }
to   { transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}
.what_inner_img {
position: relative;
text-align: center;
}

.what_inner_img>img{max-width:500px;margin:0 auto;}     
.home_what {     padding: 10px 0 90px;}

.benifit_round_img {
position: absolute;
bottom: -7%;
right: 9%;
max-width: 25%;
}   

}
@media only screen and (min-width:1368px) and (max-width:1550px){
.container{max-width: 1330px;}
.home_banner_position {top: 16%;}
.road_position {
right: 0;
bottom: 0;
position: absolute;
max-width: 650px;
}
.home_road_map_heading h3 {
font-size: 60px;}

.home_benifits_heading h3 {
font-size: 60px;}
.home_bored_text h3 {
font-size: 150px;}
.what_inner_text h3 {
font-size: 60px;}
.home_banner_text h3 {
font-size: 75px;}

.header_menu ul li a {
font-size: 16px;
}
.header_menu ul li {
margin: 0 20px;
}    
.banner_icon1 {
bottom: 26%;
left: 3%;
max-width: 13%;
}
.banner_icon2 {
bottom: 35%;
right: 0;
max-width: 10%;
}
.banner_icon3 {
bottom: 16%;
left: 62%;
max-width: 16%;
}   

.round_icon1{  bottom: 35%;
max-width: 20%;
left: 42%;}
.round_icon2{       left: 40%;
bottom: 35%;
max-width: 20%;}
.round_icon3{  left: 41%;
bottom: 34%;max-width: 20%;}



@keyframes myOrbit {
from { transform: rotate(0deg) translateX(250px) rotate(0deg); }
to   { transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}
.what_inner_img {
position: relative;
text-align: center;
}

.what_inner_img>img{max-width:500px;margin:0 auto;}     
.benifit_round_img {
position: absolute;
bottom: -11%;
right: 7%;
max-width: 30%;
} 
}
@media only screen and (min-width:1551px) and (max-width:1600px){
.home_banner_position {top: 18%;} 
.round_icon1{  bottom: 35%;max-width: 20%;left: 42%;}
.round_icon2{       left: 40%;bottom: 35%;max-width: 20%;}
.round_icon3{  left: 41%;bottom: 34%;max-width: 20%;}

@keyframes myOrbit {
from { transform: rotate(0deg) translateX(250px) rotate(0deg); }
to   { transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}
.what_inner_img {
position: relative;
text-align: center;
}
.what_inner_img>img{max-width:500px;margin:0 auto;}               
}